.container {
    padding: 2rem 5rem;
}

.package {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 1rem 0rem;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: bisque;
    }

    div:first-child {
        font-weight: bold;
    }
}