@use '../../assets/variables' as v;

.container {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.logo {
    background-color: black;
}

.navbar {
    background-color: v.$primary-color;
    min-height: calc(100vh - 5rem);

}

.package {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid #ccc;
}