@use '../../assets/variables' as v;

.header {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
    border-bottom: 2px solid v.$primary-color;

    div:first-child {
        font-size: large;
        font-weight: bold;

        span {
            color: v.$primary-color;
        }
    }
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 0.5rem
}